{% extends "layout.html" %}

{% block main %}
    {% if error %}
        <p>{{ error }} : Log in with an @vit.ac.in ID.</p>
        <p>
        <a href="/auth/google" class="btn">Login</a>
    {% else %}
          {% if logged_in %}
            <p>Hey there. Looks like you're logged in already.</p>
            <a href="{{ url_for('profile') }}" class="btn">my profile</a>
            <a href="/logout" class="btn">logout</a>
          {% else %}
            <p>You haven't logged in!</p>
            <p>
              <a href="/auth/google" class="btn">Login</a>
          {% endif %}
    {% endif %}
{% endblock %}
