<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>VITacademics</title>
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>-->
    <link href="../assets/css/bootplus.css" rel="stylesheet">
    <link href="../assets/css/bootplus-responsive.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
      <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/favicon.ico">
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/"><img src="../assets/logo.png">VITacademics</a>
                <div class="nav-collapse collapse" style="padding-top: 14px;">
                    {% if logged_in and user%}
                    <div class="pull-right">
                        <div><a href="/logout" class="btn btn-small btn-primary">Sign out</a>
                        </div>
                    </div>
                    <p class="navbar-text pull-right" style="padding-right:5px">Logged in as {{ user.name }} - Demo Mode</p>
                    {% else %}
                    <div class="pull-right">
                        <div><a href="/auth/google" class="btn btn-small btn-primary">Sign in</a>
                        </div>
                    </div>
                    <p class="navbar-text pull-right" style="padding-right:5px">You aren't logged in -</p>
                    {% endif %}
                    {% if logged_in %}
                    <ul class="nav">
                        <li class="active"><a href="/dashboard">Dashboard</a></li>
                        <li class="dropdown active">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            {% for s in allsubjects %}
                            <li><a href="/subject/{{ s.classnbr }}"><h5>{% if classnbr|default('something') == s.classnbr %}<strong>{% endif %}{{ s.title }}{% if classnbr|default('something') == s.classnbr %}</strong>{% endif %}</h5></a></li>
                            {% endfor %}
                          </ul>
                        </li>
                        <li class="active"><a href="/timetable">Timetable</a></li>
                        <li><a href="/backend">How it works</a></li>
                        <li><a href="/sms">SMS Demo</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Client Apps <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.karthikb351.vitinfo2">Android</a></li>
                            <li><a target="_blank" href="https://itunes.apple.com/us/app/vitacademics/id727796987?mt=8">iOS</a></li>
                            <li><a target="_blank" href="http://www.windowsphone.com/en-in/store/app/vitacademics/d6a9e028-4cc2-46ea-9f1b-84c02f4ae408">Windows Phone</a></li>
                          </ul>
                        </li>
                    </ul>
                    {% else %}
                        <ul class="nav">
                        <li class="active"><a href="">Welcome!</a></li>
                        </ul>
                    {% endif %}


                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding-top: 14px;">
        <!-- Main Container -->
        {% block main %}{% endblock %}{% block footer %}{% endblock %}