{% extends "layout.html" %}

{% block main %}
<div class="row-fluid">
  <div class="span8 offset2">
    <div class="hero-unit">
      <h2>Not so fast {{ name }}!</h2>
      <p>We still need to verify your registration number.</p>
      <!-- Button to trigger modal -->
      <a href="#myModal" role="button" class="btn btn-primary btn-large" data-toggle="modal"><strong>Verify</strong></a>
      
      <!-- Modal -->
      <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Please fill out the form below</h3>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="/linkregnosubmit" method="get">
            <fieldset>
              <!-- Prepended text-->
              <div class="control-group">
                <label class="control-label" for="prependedtext">Registration Number</label>
                <div class="controls">
                  <div class="input-prepend">
                    <span class="add-on"><img style="margin-top:-2px;" src="assets/captcha.bmp"></span>
                    <input id="captcha" name="catpcha" class="input-large" placeholder="Eg. 2D4JME" type="text" required="">
                  </div>
                  
                </div>
              </div>
              
              <!-- Button -->
              <div class="control-group">
                <label class="control-label" for="singlebutton"></label>
                <div class="controls">
                  <button id="singlebutton" name="singlebutton" class="btn btn-primary">Verify</button>
                </div>
              </div>
            </fieldset>
          </form>

        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    </div>
  </div><!--/span-->
</div><!--/row-->
{% endblock %}