{% extends "layout.html" %}
{% block main %}
<div class="row" style="padding-top: 50px;">
    <div class="large-9 columns">
        <div class="row">
            <h1>{{ subject.title }}</h1>
            <div class="row">
                <div class="large-10 columns" style="padding-top: 22px">
                    <div class="progress {% if (subject.percentage|replace("%","")) >= "80" %}success{% elif (subject.percentage|replace("%","")) >= "75" %}{% else %}alert{% endif %}">
                      <span class="meter" style="width: {{ subject.percentage }}"></span>
                    </div>
                </div>
                <div class="large-2 columns">
                    <h1>{{ subject.percentage }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="large-4 columns">
                    <h4>{{ subject.code }}</h4>
                    <h4>{{ subject.slot }} Slot</h4>
                </div>
                <div class="large-8 columns">
                    <h4>{{ subject.type }}</h4>
                    <h4>Registered on {{ subject.regdate }}</h4>
                </div>
            </div>

            <h6>You have attended <strong>{{ subject.attended }}</strong> out of <strong>{{ subject.conducted }}</strong> classes.</h6>
        <hr>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <div>
                    <h4>Course Schedule</h4>
                    <table style="width: 100% ">
                            <thead>
                                <tr>
                                    <th>Day</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                          <tbody>
                              {% if subject.timetable['Monday'] %}
                          <tr>
                              <td>Monday</td>
                              <td>{{ subject.timetable['Monday'] }}</td>
                          </tr>
                              {% endif %}
                              {% if subject.timetable['Tuesday'] %}
                          <tr>
                              <td>Tuesday</td>
                              <td>{{ subject.timetable['Tuesday'] }}</td>
                          </tr>
                              {% endif %}
                              {% if subject.timetable['Wednesday'] %}
                          <tr>
                              <td>Wednesday</td>
                              <td>{{ subject.timetable['Wednesday'] }}</td>
                          </tr>
                              {% endif %}
                              {% if subject.timetable['Thursday'] %}
                          <tr>
                              <td>Thursday</td>
                              <td>{{ subject.timetable['Thursday'] }}</td>
                          </tr>
                              {% endif %}
                              {% if subject.timetable['Friday'] %}
                          <tr>
                              <td>Friday</td>
                              <td>{{ subject.timetable['Friday'] }}</td>
                          </tr>
                              {% endif %}
                          </tbody>
                      </table>
                </div>
            </div>
            <div class="large-4 columns">
                <div>
                    <h4>Course Scores</h4>
                    <table style="width: 100%">
                            <thead>
                                <tr>
                                    <th>Criteria</th>
                                    <th>Your Score</th>
                                </tr>
                            </thead>
                          <tbody>
                          {% for c,s in subject.marks.iteritems()|sort %}
                          <tr>
                              <td>{{ c }}</td>
                              <td>{{ s }}</td>
                          </tr>
                          {% endfor %}
                          </tbody>
                    </table>
                </div>
            </div>
            <div class="large-4 columns">
                <h4>Attendance Details</h4>
                <div style="width:100%; display:block; max-height: 320px; overflow-y: auto;">
                    <table style="width: 100%;">
                          <thead>
                            <tr>
                              <th>Date</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for detail in subject.details|batch(2) %}
                            <tr>
                              <td>{{ detail[0] }}</td>
                              {% if detail[1] == "Absent" %}
                                <td><span class="alert label">{{ detail[1] }}</span></td>
                              {% elif detail[1] == "Present" %}
                                  <td><span class="label success">{{ detail[1] }}</span></td>
                              {% else %}
                                   <td><span class="label">{{ detail[1] }}</span></td>
                              {% endif %}
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
    <div class="large-3 columns">
        <h4>Notices</h4>
        <table style="width: 100%">
            {% for notice in notices %}
            <tr>
                <td>
                    <h6>{{ notice.text }}{% if notice.author == "11BCE0354" %}<p onclick='location.href="/noticedel/{{ notice.id }}/{{ subject.classnbr }}"' style="cursor: pointer; float: right;">x</p>{% endif %}</h6>
                    <p class="subheader" style="font-style: italic; font-size: 10px;">By {{ notice.author  }} at {{ notice.timestamp }}</p>
                </td>
            </tr>
            {% endfor %}
        </table>
        <form id="form1" class="input-prepend" action="/notice" onsubmit="setTimeout(function () { window.location.reload(); }, 10)" method="post">
          <input type="hidden" name="cnum" value="{{ subject.classnbr }}">
          <input type="hidden" name="author" value="11BCE0354">
            <div class="row collapse">
                <div class="small-9 columns">
                  <input type="text" name="text" placeholder="Quiz on Monday!">
                </div>
                <div class="small-3 columns">
                  <a href="#" onclick="document.forms[0].submit();" type="submit" class="button postfix">Post</a>
                </div>
                <p class="subheader" style="font-size: 10px;">Sometimes you need to reload the page after posting/deleting a notice.</p>
             </div>
        </form>

    </div>
</div>
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}